#contain{
}

#searchbox{
	position: relative;
	top: 100px;
	width: 50%;
	margin: 0 auto;
	border-style: 
}

#searchinput{
	padding: 0px 5px;
	width: 80%;
	height: 30px;
	box-sizing: border-box;
}

#searchsubmit{
	width: 15%;
	height: 30px;
	line-height: 30px;
}

#searchhistory_tmpl_idcls{
    display: none;
}

#searchhistory{
    width: 80%;
    box-shadow: 0 0 10px 1px #aaa;
    outline: none;
}

.onesearchhistory{
    background-color: #fff;
    padding: 2px 5px 2px 5px;
}

.onesearchhistory a
{
    background: white;
}

.onesearchhistory a:hover
{
    cursor: pointer;

    background-color: #ddd;
}

.onesearchhistory .selected
{
    background: #ccc;
}

.onesearchhistory .selecthistory{
    display: inline-block;
    width: calc(100% - 60px);
    word-wrap: break-word;
    color: #57a;
}

.onesearchhistory .deletehistory{
	font-size: 14px;
    text-align: center;
    width: 50px;
    display: inline-block;
}